<div class="paddingLeftRight">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <!--<span class="fw-bold">
    Paste faulty/invalid JSON in the left area and click the <span class="fix-text">"Fix JSON!!"</span> button to correct it.
  </span>-->

      <span class="fw-bold">
        <span class="d-none d-md-inline">Paste faulty/invalid JSON in the left area and click the <span class="fix-text">"Fix JSON!!"</span> button to correct it.</span>
        <span class="d-inline d-md-none">Enter Invalid JSON</span>
      </span>


      <div class="action-buttons">
        <button class="btn btn-sm btn-dark" (click)="loadSampleData()">
          <i class="fas fa-flask"></i>  Sample JSON

        </button>
        <button class="btn btn-sm btn-success" style="background-color: #047a04;" (click)="fixJson()">
          <i class="fas fa-wrench"></i>  Fix JSON!!

        </button>

      </div>
    </div>
    <!--<div class="card-body p-0">
    <div class="split-container" style="display: flex; height: 100%;">
      <div class="json-input-container" style="flex: 0 0 30%;">
        <div #editorLeft class="editor" style="height: 100%; width: 100%;"></div>
      </div>
      <div class="splitter" id="splitter" #splitter></div>
      <div class="json-output-container" style="flex: 0 0 70%;">
        <div #editorRight class="editor" style="height: 100%; width: 100%;"></div>
      </div>
    </div>
  </div>-->


    <div class="card-body p-0">
      <div class="split-container" style="height:100%;">
        <div class="json-input-container">
          <div #editorLeft class="editor" style="height: 100%; width: 100%;"></div>
        </div>
        <div class="splitter" id="splitter" #splitter></div>
        <div class="json-output-container">
          <div #editorRight class="editor" style="height: 100%; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
