.card {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
  transition: box-shadow 0.3s ease;
  height: calc(100vh - 83px); /* Account for just the navbar */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Add space before footer */
  padding-left:5px;
}


@media (min-width: 768px) {
  .paddingLeftRight {
    padding-left: 1.5rem;
    padding-right: 3rem;
  }
}

.paddingLeftRight {
  padding-right: 5px;
  padding-left: 12px;
  padding-top: 5px
}
