<div class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" (click)="onLogoClick($event)" style="padding-top: 0; padding-bottom: 0;">
        <span class="logo-json" style="display: inline-block; transform: rotate(-5deg);">
          <span style="display: inline-block; transform: rotate(0deg);">JSON</span>
        </span>
        <span class="logo-to" style="display: inline-block; transform: rotate(25deg); color: forestgreen;">To</span>
        <span class="logo-table" style="display: inline-block; transform: rotate(-5deg);">Table</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Json To Table</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/json-fixer" routerLinkActive="active">Json Fixer</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/json-formatter" routerLinkActive="active">Json Formatter</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/string-to-json" routerLinkActive="active">String To json</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <main class="flex-grow-1 py-2">
    <router-outlet></router-outlet>
  </main>

  <!-- Sticky Footer -->
  <footer class="bg-dark text-light text-center py-3">
    <div class="container">
      <!--&copy; 2025 <strong>JsonToTable</strong>. All rights reserved.-->
      <span>Copyright © jsonparser.ai 2025</span>
      <span class="footer-separator mx-2">|</span>
      <a class="text-light text-decoration-none mx-1" routerLink="/privacy-policy">Privacy Policy</a>
      <span class="footer-separator mx-2">|</span>
      <a class="text-light text-decoration-none mx-1" routerLink="/about">About</a>
      <span class="footer-separator mx-2">|</span>
      <a class="text-light text-decoration-none mx-1" href="https://blog.jsonparser.ai/" target="_blank">Blog</a>
      <span class="footer-separator mx-2">|</span>
      <a class="text-light text-decoration-none mx-1" routerLink="/contact">Contact</a>
    </div>
  </footer>
</div>
